<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        div,h1,h2{
            margin: 0;
            padding: 0;
        }
        .content{
            margin: 0 auto;
            margin-top: 300px;
            text-align: center;
        }
        .style_404{
            font-weight: bold;
            padding: 5px;
            font-size: 40px;
        }
    </style>
</head>

<body>
<div class="content">
    <h2><span class="style_404">404</span>&nbsp;&nbsp;这个页面走丢了呢...</h2>
</div>
</body>
</html>